.input{
  margin-bottom: 12px;
  border: #BFC4D7 solid 1px;
  padding: 20px 30px;
}



@media only screen and (max-width: 800px){

  .input{
    width: 300px;
    padding: 20px 0px ;
    display: flex;
    justify-content: center;
  }

}