.containerform {
  padding: 20px;
  margin: 0 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff;
}

@media only screen and (max-width: 800px){
  .containerform{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}