
.input-radio {
  width: 280px;
  display: flex;
  justify-content: right;
  justify-items: center;
  cursor: pointer;
  box-sizing: content-box;
  gap: 10px;
} 

.sub-container-input{
  display: flex;
  flex-direction: row;
}

.sub-input-radio{
  border: 1px solid #ddd;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 140px;
  color: #919191;
  font-size: 12px;
}

.sub-input-radio:first-child{
  border-radius: 4px 0 0 4px;
}
.sub-input-radio:last-child{
  border-radius: 0 4px 4px 0;
}


@media only screen and (max-width: 800px){
  .sub-container-input label{
    display: none;
  }

  .input-radio{
    display: none;
    width: 300px;
    padding: 12px 0px ;
    display: flex;
    justify-content: center;
  }


}
